.gaibian img{
	transition: all 0.6s;  
}
.gaibian img:hover {
	transform: scale(1.05);
}
.bian{
	width: 464px;
	height: 349px;
	border-radius: 100px;
	border: 1px solid #000;
	overflow: hidden;
}
.yuanhua{
	width: 1000px;
	height: 420px;
	border: 1px solid #000;
	border-radius: 100px;
	overflow: hidden;
}
